.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #66666652;
  color: white;
}

.introduction {
  text-align: center;
  padding: 20px;
}

.points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.points {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

.boxes {
  display: flex;
  justify-content: center;
  width: 300px;
}

.box {
  width: 100px;
  height: 100px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.bluePressButton{
  width: 400px;
  height: 300px;
  background-color: #0056b3;
}

.yellowPressButton{
  width: 400px;
  height: 300px;
  background-color: #A1A12A;
}

.bluePressButton:hover{
  background-color: #0056b3;
}

.bluePressButton:active{
  background-color: #062b53 !important;
}

.yellowPressButton:hover{
  background-color: #A1A12A !important;
}

.yellowPressButton:active{
  background-color: #666617 !important;
}

.switchButton{
  width: 400px;
}

.switchButton:hover{
  background-color: gray;
}